		body {
			background-color: #ffffff;
			margin: 0;
			padding: 0;
			font-family: 'MontSerrat', sans-serif;
			
			color:#333
		}
		.code {
			margin: 10;
		}

		a {
			color: #faad89;
			
			text-decoration: none;
			transition: all 0.1s linear;
		}
		a:hover {
			color: #E33373;
		}
		img {
			transition: all 0.1s linear;	
		}
		img:hover {
			/*opacity: 70%;*/
		}
		@media screen and (min-width: 1024px) {
	      .flex-container {
	        display: flex;
	      }
	      .flex-child {
	        flex:  1;
	      }  
	    }
		#sidebar {
			position: absolute;
			top: 10%;
			left: 10%;
			width: auto;
			text-align: left ;
		}
		#logo {
			width: 200px;
		}
		#title {
			font-size: 50px;
			font-family: 'Imprima', sans-serif;			
			width: 200px;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		#separator {
			background-color: #faad89;
			position: sticky;
			left: 10px;
			top: 0px;
			height: 100vh;
			width: 5px;

		}
		.low {
			position: absolute;
			top: 200%;
		}