@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Imprima&display=swap');

/* @font-face {
    font-family: "Imprima";
    src: url("../../assets/fonts/imprima/Imprima-Regular.ttf");
} */

/* @font-face {
    font-family: "IBM-Plex-Sans";
    src: url("../../assets/fonts/IBM-Plex-Sans/");
} */

:root {
    --main-color: #faad89;
    --link-color: #f0803f;
    --accent-color: aquamarine;
    --default-line-width: 4px;
}


body {
    background-color: var(--main-color);
    color: white;
    font-family: monospace;
    font-size: 14px;

    /* Change margin to add space around entire page. */
    margin: 0vh 0vw;

    display: flex;
    justify-content: center;
}

img {
    max-width: 70vw;
}

a, a:visited {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color:var(--accent-color);
}

h1 {

}

.scroll {

    /* border-left: 1px solid white;
    border-right: 1px solid white; */

    /* flex-grow: 1; */
    width: 80vw;
    max-width: 840px;
    min-height: 100vh;
    color: black;

    background-color: white;
    border-style: solid;
    border-width: 0px var(--default-line-width);
    border-color: black;

    padding: 0px 5vw;

}

.frontPage
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    padding-bottom: 2em;
}

.frontPage .title {
    max-height: 2.5em;
    font-size: 5em;
    font-family: 'Imprima';
}

.frontPage .subtitles {
    /* min-height: 3em; */

}

.frontPage .sub {
    font-size: 1.5em;
    font-family:'IBM Plex Sans', sans-serif;

    padding: 10px;

    border: solid var(--default-line-width) var(--main-color);
    border-radius: calc( var(--default-line-width) * 2 );
}

.frontPage .sub:hover {
    border-color: var(--accent-color);
}

.frontPage a {
    /* color: black; */
}