---
import Base from '@/layouts/Base';
import Section from '@/layouts/Section';
// import Header from '@/components/Header';
import Intro from '@/components/Intro';
import Projects from '@/components/Projects';
import Contact from '@/components/Contact';
---

<Base title="oxgr">
	<main>
    <!-- <Header/> -->
    <Section title="">
      <Intro/>
    </Section>

    <Section title="Projects">
      <Projects/>
    </Section>

    <Section title="Contact">
      <Contact/>
    </Section>
	</main>
</Base>

<style>
	
</style>
