---
import Layout from '@/layouts/Layout';
import Section from '@/layouts/Section';
import Header from '@/components/Header';
import Intro from '@/components/Intro';
import Works from '@/components/Works';
---

<Layout title="Welcome to Astro.">
	<main>
    <Header/>
    <Section title="">
      <Intro/>
    </Section>
    <Section title="Works">
      <Works/>
    </Section>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 3rem);
		/* color: white; */
		line-height: 1.6;
	}
</style>
