---
import contacts from "@/content/json/contacts.json";
---

<div class="box">
  <p>I'm open for work and I love to hear ideas!</p>
  <p>You can reach me here:</p>
  <ul>
    {
      contacts.map((c) => (
        <li>
          <a href={c.url} class="clickableText">
            {c.name}
          </a>
        </li>
      ))
    }
  </ul>
</div>

<!-- <div class="container"> -->
<!--   { -->
<!--     contacts.map((c) => ( -->
<!--       <a href={c.url}> -->
<!--         <div class="card clickableText">{c.name}</div> -->
<!--       </a> -->
<!--     )) -->
<!--   } -->
<!-- </div> -->

<style>
  p {
    margin-top: 0;
  }
  .container {
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16ch, 1fr));
    gap: var(--padding);
  }

  .container .card {
    transition: var(--transition);
    padding: var(--padding);
    /* margin: var(--padding); */
    /* width: 100%; */
    text-align: center;
    border: var(--border);
    border-radius: var(--border-radius);
  }

  .container .card:hover {
    border-color: var(--ox-orange);
  }

  .clickableText {
    transition: var(--transition);
    text-decoration: underline var(--ox-pink);
  }
  .clickableText:hover {
    text-decoration-color: var(--ox-orange);
  }
</style>
