---
interface Props {

}

const {} = Astro.props;
---

  <div class="no-box hd-container">
    <h1 class="hd-title">oxgr</h1>
  </div>

<style>
  .hd-container {
    margin-top: var(--margin-topmost);
    margin-bottom: var(--margin-section);
  }
	.hd-title {
    color: var(--ox-orange);
	}
</style>


