---
import NavBar from '@/components/Navbar'

interface Props {

}

const {} = Astro.props;
---

  <div class="header">
    <h1 class="title">oxgr</h1>
    <!-- <div class="space"></div> -->
    <NavBar class="navbar"/>
  </div>

<style>
  .header {
    padding-top: var(--margin-header-top);
    padding-bottom: var(--margin-header-btm);
    padding-left: calc(var(--padding-base) + var(--padding));
    padding-right: var(--padding-base);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: calc(var(--padding) * 2);
    height: 3rem;
  }

  .header * {
    margin: auto 0;
  }

  .title {
    color: var(--ox-orange);
    /* padding-right: var(--padding); */
    /* line-height: 1em; */
	}

  @media screen and (max-width: 600px) {
    .header {
      justify-content: space-between;
    }
  }
</style>


