---
import NavBar from '@/components/Navbar'

interface Props {

}

const {} = Astro.props;
---

  <div class="no-box container">
    <h1 class="title">oxgr</h1>
    <NavBar/>
  </div>

<style>
  .container {
    margin-top: var(--margin-header-top);
    margin-bottom: var(--margin-header-btm);
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
  }

  .title {
    color: var(--ox-orange);
    margin: auto 0;
    /* line-height: 1em; */
	}
</style>


