---
import NavBar from '@/components/Navbar'

interface Props {

}

const {} = Astro.props;
---

  <div class="header">
    <h1 class="title">
      <a href="/">
        oxgr
      </a>
    </h1>
    <!-- <div class="space"></div> -->
    <NavBar class="navbar"/>
  </div>

<style>
  .header {
    margin-left: var(--margin-base);
    margin-right: var(--margin-base);
    margin-top: var(--margin-header-top);
    margin-bottom: var(--margin-header-btm);
    padding-left: var(--padding-header);
    padding-right: var(--padding-header);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: calc(var(--padding) * 2);
    height: 3rem;
  }

  .header * {
    /* margin: auto 0; */
  }

  .title {
    color: var(--ox-orange);
    transition: var(--transition);
    text-decoration: underline var(--ox-pink) 2px;
    margin: auto var(--padding);

    z-index: 2;
    /* padding-right: var(--padding); */
    /* line-height: 1em; */
	}

  .title * {
    color: var(--ox-orange);
  }

  .title:hover {
    /* color: var(--ox-orange); */
    text-decoration: underline var(--ox-orange) 2px;
  }

  @media screen and (max-width: 600px) {
    .header {
      justify-content: space-between;
    }
  }
</style>


