---
interface Props {

}

const {} = Astro.props;
---

  <header class="no-box hd-container">
    <h1 class="hd-title">oxgr</h1>
  </header>

<style>
  .hd-container {
    /* padding: 2rem 1rem; */
		/* margin-bottom: 1em; */
  }
	.hd-title {
		/* font-size: 2rem; */
		/* font-weight: 100; */
		/* line-height: 1; */
		/* text-align: center; */
    margin: 0;
    color: var(--ox-orange);
	}
</style>


