---
import NavBar from "@/components/NavBar";

interface Props {}

const {} = Astro.props;
---

<div class="header">
  <a href="/">
    <h1 class="title">oxgr</h1>
  </a>
  <div class="space"></div>
  <NavBar />
</div>

<style>
  .header {
    margin-left: var(--margin-base);
    margin-right: var(--margin-base);
    margin-top: var(--margin-header-top);
    margin-bottom: var(--margin-header-btm);
    padding-left: var(--padding);
    /* padding-right: var(--padding-header); */
    display: flex;
    flex-direction: row;

    /* justify-content: flex-start; */
    justify-content: space-between;
    /* align-items: center; */

    /* gap: calc(var(--padding) * 2); */
    /* gap: var(--padding); */
    height: 3rem;
  }

  .header > * {
    /* margin: 0; */
  }

  .title {
    color: var(--ox-orange);
    transition: var(--transition);
    text-decoration: underline var(--ox-pink);
    color: var(--ox-orange);
    padding: 0 var(--padding);
    margin: 0;
    margin-right: var(--padding);
  }

  .title:hover {
    color: var(--ox-yellow);
    text-decoration-color: var(--ox-orange);
  }

  .space {
    border-bottom: dotted 2px var(--ox-border);
    flex-grow: 1;
    align-self: center;
    height: 1rem;
    margin-bottom: -2px;
  }
</style>
