---
import Navbar from '@/components/Navbar'

interface Props {

}

const {} = Astro.props;
---

  <div class="no-box container">
    <h1 class="title">oxgr</h1>
    <!-- <Navbar/> -->
  </div>

<style>
  .container {
    margin-top: var(--margin-header-top);
    margin-bottom: var(--margin-header-btm);
    display: grid;
    grid-template-columns: 1fr 3fr 4fr;
  }

  .title {
    color: var(--ox-orange);
    margin: 0;
	}
</style>


