---
import NavBar from '@/components/Navbar'

interface Props {

}

const {} = Astro.props;
---

  <div class="no-box header">
    <h1 class="title">oxgr</h1>
    <div class="space"></div>
    <NavBar class="navbar"/>
  </div>

<style>
  .header {
    padding-top: var(--margin-header-top);
    padding-bottom: var(--margin-header-btm);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* justify-content: space-between; */
    height: 3rem;
  }

  .header * {
    margin: auto 0;
  }

  .title {
    color: var(--ox-orange);
    padding-right: var(--padding);
    /* line-height: 1em; */
	}

  @media screen and (max-width: 600px) {
    justify-content: space-between;
  }
</style>


