---
import * as intro from '@/content/intro'

interface Props {

}

const {} = Astro.props;
---

<div class="box intro-container">
  <intro.Content/>
</div>

<style>
  .intro-container {
    /* padding: 2rem 0; */
    border-color: var(--ox-pink);
  }
</style>
