---
import * as intro from '@/content/plain/intro.md'

interface Props {

}

const {} = Astro.props;
---

<div class="box intro-container">
  <intro.Content/>
</div>

<style>
  .intro-container {
    padding: 0 var(--padding);
    border-color: var(--ox-orange);
  }
</style>
