---
import * as intro from '@/content/plain/intro.md'
---

<div class="box intro-container">
  <intro.Content/>
</div>

<style is:global>
  .intro-container {
    padding: 0 var(--padding);
    border-color: var(--ox-orange);

  }

  ul li::before {
    content: ">";
  }

</style>
