---
import NavItem from '@/components/NavItem'

interface Props {

}

const {} = Astro.props;
---
<div class="sidebar">
 
  <ul >
 
    <li 
      style="border-color: var(--ox-pink)"
      href="/#projects"
    >
      <span>
        projects
      </span>
    </li>
 
    <li
      style="border-color: var(--ox-yellow)"
      href="/#contact"
    >
      <span>
        contact
      </span>
    </li>

  </ul>

</div>

<style>

ul {
  display: grid;
  grid-template-columns: repeat(2, auto) 100%;
  gap: calc(var(--padding) * 2);
}

li {
  list-style: none;
  border-bottom: var(--border);
  border-color: var(--borderColor);
}

/* @container mobile (min-width: 0px) { */
@media screen and (max-width: 600px) {

  .sidebar {
    border: var(--border);
    border-radius: var(--border-radius);
    /* width: 1rem; */
    width: 100%;
    /* height: 1rem; */
    padding: var(--padding);
    transition: var(--transition);
    /* overflow: hidden; */

  }
 
  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr) 100%;
    gap: var(--padding);
    margin: 0;
    padding: 0;
  }

  li {
    width: 100%;
  }

  li span{
    transition: var(--transition);
    width: 0%;
    height: 0%;
    /* opacity: 0; */
    /* font-size: 0px; */
    /* line-height: 0; */
  }

  .sidebar:is(:hover, :focus-within) {
    /* width: 100%; */
    height: auto;
  }

  .sidebar:is(:hover, :focus-within) li span{
    /* font-size: var(--font-size); */
    /* line-height: 1.6; */
    /* opacity: 1; */
    width: 100%;
    height: 100%;
  }

}

</style>
