---
interface Props {}

const {} = Astro.props;
---

<div class="sidebar">
  <div class="container">
      <a class="item" href="/"> 
    <div >
        home
    </div>
      </a>

      <a class="item" href="/#projects"> 
    <div >
        projects
    </div>
      </a>

      <a class="item" href="/#contact"> 
    <div >
        contact
    </div>
      </a>

      <a class="item" href="/#blog"> 
    <div >
        blog
    </div>
      </a>
  </div>
  <div class="containerWrapper"></div>
</div>
<div class="mask"></div>

<style>
  :root {
    --sidebarWidth: auto;
    --sidebarPostHeight: calc(3rem * 4);
    --sidebarPadding: calc(var(--padding) * 2);
  }

  .sidebar {
    /* z-index: 2; */
    background: var(--ox-bg);
    margin: 0 var(--padding);
    /* flex-grow: 2; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: 
    overflow: hidden;
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: calc(var(--padding) * 2);
    overflow: hidden;
  }

  .item {
    /* border-color: var(--ox-pink); */
    font-size: 1rem;
  }

  .item div{
    text-decoration: underline var(--ox-pink) 2px;
    transition: var(--transition);
  }

  .item:is(:hover, :focus-within) div{
    /* border-color: var(--ox-orange); */
    text-decoration-color: var(--ox-orange);
  }

  .mask {
    display: none;
  }

  /* @container mobile (min-width: 0px) { */
  @media screen and (max-width: 600px) {
    .sidebar {
      transition: var(--transition);
      border: var(--border);
      border-color: var(--ox-dim);
      border-radius: var(--border-radius);
      /* justify-content: flex-end; */
      justify-content: flex-start;
      align-items: flex-end;
      z-index: 2;
      /* overflow: hidden; */
      padding: var(--padding);
      height: 1rem;
      width: 1rem;
    }

    .containerWrapper {
      transition: var(--transition);
      border-bottom: var(--border);
      /* border-right: var(--border); */
      border-color: var(--ox-pink);

      /* position: absolute; */
      /* align-self: flex-end; */
      justify-self: flex-end;
      /* border-width: 2px; */
      width: 100%;
    }

    .container {
      transition: var(--transition);
      flex-direction: column;
      gap: 0;
      /* justify-content: space-evenly; */
      justify-content: flex-start;
      align-items: stretch;
      visibility: hidden;

      /* height: 0%; */
      /* width: 0%; */
      opacity: 0;
      margin: 0;
    }

    .item {
      text-align: right;
      /* margin-left: auto; */
      /* margin-right: 0; */
    }

    .item:first-child {
      padding-bottom: var(--padding);
    }

    .item:not(:first-child) {
      border-top: var(--border);
      padding: var(--padding) 0;
    }

    .sidebar:is(:hover, :focus-within) {
      height: var(--sidebarPostHeight);
      border-color: var(--ox-orange);
      /* padding: var(--sidebarPadding); */
      /* width: 100%; */
      /* width: inherit; */
      width: 5rem;
    }

    .sidebar:is(:hover, :focus-within) .container {
      opacity: 1;
      height: 100%;
      visibility: visible;
      /* width: 100%; */
    }

    .sidebar:is(:hover, :focus-within) .containerWrapper {
      opacity: 0;
      width: 0%;
      border-color: var(--ox-orange);
    }

    .mask {
      display: block;
      position: absolute;
      left: 0;
      top: -100vh;
      width: 100vw;
      height: 100vh;
      flex-basis: 0px;
      background: var(--ox-bg-gradient);
      transition: var(--transition);
      z-index: 1;
    }

    .sidebar:is(:hover, :focus-within) ~ .mask {
      top: 0px;
    }
  }
</style>
