---
interface Props {}

const {} = Astro.props;
---

<div class="sidebar">
  <div class="container">
    <a class="item" href="/">
      <div>home</div>
    </a>

    <a class="item" href="/#projects">
      <div>projects</div>
    </a>

    <a class="item" href="/#contact">
      <div>contact</div>
    </a>
  </div>
  <div class="containerWrapper"></div>
</div>
<div class="mask"></div>

<style>
  :root {
    --sidebarWidth: auto;
    --sidebarPostHeight: calc(3rem * 3);
    --sidebarPadding: calc(var(--padding) * 2);
  }

  .sidebar {
    background: var(--ox-bg);
    margin: 0 var(--padding);
    margin-left: var(--sidebarPadding);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--sidebarPadding);
    overflow: hidden;
  }

  .item {
    font-size: 1rem;
  }

  .item div {
    text-decoration: underline var(--ox-pink) 2px;
    transition: var(--transition);
  }

  .item:is(:hover, :focus-within) div {
    /* border-color: var(--ox-orange); */
    text-decoration-color: var(--ox-orange);
  }

  .mask {
    display: none;
  }

  /* @container mobile (min-width: 0px) { */
  @media screen and (max-width: 600px) {
    .sidebar {
      transition: var(--transition);
      border: var(--border);
      border-color: var(--ox-dim);
      border-radius: var(--border-radius);

      justify-content: flex-start;
      align-items: flex-end;
      z-index: 2;

      padding: var(--padding);
      height: 1rem;
      width: 1rem;
    }

    .containerWrapper {
      transition: var(--transition);
      border-bottom: var(--border);
      border-width: 2px;
      border-color: var(--ox-pink);

      justify-self: flex-end;
      width: 100%;
    }

    .container {
      transition: var(--transition);
      flex-direction: column;
      gap: 0;
      justify-content: flex-start;
      align-items: stretch;
      visibility: hidden;

      opacity: 0;
      margin: 0;
    }

    .item {
      text-align: right;
    }

    .item:first-child {
      padding-bottom: var(--padding);
    }

    .item:not(:first-child) {
      border-top: var(--border);
      padding: var(--padding) 0;
    }

    .sidebar:is(:hover, :focus-within) {
      height: var(--sidebarPostHeight);
      border-color: var(--ox-orange);
      width: 5rem;
    }

    .sidebar:is(:hover, :focus-within) .container {
      opacity: 1;
      height: 100%;
      visibility: visible;
    }

    .sidebar:is(:hover, :focus-within) .containerWrapper {
      opacity: 0;
      width: 0%;
      border-color: var(--ox-orange);
    }

    .mask {
      display: block;
      position: absolute;
      left: 0;
      top: -100vh;
      width: 100vw;
      height: 100vh;
      flex-basis: 0px;
      background: var(--ox-bg-gradient);
      transition: var(--transition);
      z-index: 1;
    }

    .sidebar:is(:hover, :focus-within) ~ .mask {
      top: 0px;
    }
  }
</style>
