---
import NavItem from '@/components/NavItem'

interface Props {

}

const {} = Astro.props;
---
<div class="sidebar">
 
  <div class="container">
 
    <div class="item interactive borderPink" >
      <a href="/#projects">
        <!-- <span> -->
          projects
        <!-- </span> -->
      </a>
    </div>

    <div class="item interactive borderYellow" >
      <a href="/#contact">
        <!-- <span> -->
          contact
        <!-- </span> -->
      </a>
    </div>

    <div class="item interactive borderYellow" >
      <a href="/#contact">
        <!-- <span> -->
          contact
        <!-- </span> -->
      </a>
    </div>

  </div>

</div>

<style>

.sidebar {
  z-index: 2;
  background: var(--ox-bg);
  padding: 0 var(--padding);
  /* flex-grow: 2; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: calc(var(--padding) * 2);
}

.item {
  border-bottom: var(--border);
  border-color: var(--ox-pink);
}

.interactive {
  transition: var(--transition);
}
.interactive:is(:hover, :focus-within) {
  border-color: var(--ox-orange);
}

/* .borderPink:is(:hover, :focus-within) { */
/*   border-color: var(--ox-pink); */
/* } */
/**/
/* .borderYellow:is(:hover, :focus-within) { */
/*   border-color: var(--ox-yellow); */
/* } */

/* @container mobile (min-width: 0px) { */
@media screen and (max-width: 600px) {

  .sidebar {
    transition: var(--transition);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: var(--padding);
    /* width: 1rem; */
    width: 5rem;
    height: 1rem;
    /* height: 5rem; */
    /* display: block; */
    justify-content: flex-start;
    overflow: hidden;
  }
 
  .container {
    transition: var(--transition);
    flex-direction: column;
    gap: 0.8rem;
    align-items: space-evenly;

    visibility: hidden;
    opacity: 0;
  }

  .sidebar:is(:hover, :focus-within) {
    height: 6rem;
  }

  .sidebar:is(:hover, :focus-within) .container {
    visibility: visible;
    opacity: 1;
  }

  .sidebar:is(:hover, :focus-within) .item {
    /* font-size: var(--font-size); */
    /* height: 3lh; */
  }

}

</style>
