---
import NavItem from '@/components/NavItem'

interface Props {

}

const {} = Astro.props;
---
<div class="sidebar">
 
  <ul >
 
    <a href="/#projects">
      <li class="interactive borderPink" >
        <span>
          projects
        </span>
      </li>
    </a>

    <a href="/#contact">
      <li class="interactive borderYellow" >
        <span>
          contact
        </span>
      </li>
    </a>

  </ul>

</div>

<style>

ul {
  /* display: grid; */
  /* grid-template-columns: repeat(2, auto) 100%; */
  display: flex;
  flex-direction: row;
  gap: calc(var(--padding) * 2);
}

li {
  list-style: none;
  border-bottom: var(--border);
  border-color: var(--ox-pink);
}

.interactive {
  transition: var(--transition);
}

.borderPink:is(:hover, :focus-within) {
  border-color: var(--ox-pink);
}

.borderYellow:is(:hover, :focus-within) {
  border-color: var(--ox-yellow);
}

/* @container mobile (min-width: 0px) { */
@media screen and (max-width: 600px) {

  /* .sidebar { */
  /*   border: var(--border); */
  /*   border-radius: var(--border-radius); */
  /*   padding: var(--padding); */
  /*   transition: var(--transition); */
  /*   /* overflow: hidden; */ */
  /* } */
 
  ul {
    /* flex-direction: column; */
    /* gap: var(--padding); */
    /* margin: 0; */
    /* padding: 0; */
  }

  li {
  }

  li span{
    /* transition: var(--transition); */
    /* opacity: 0; */
  }

  .sidebar:is(:hover, :focus-within) {
 
  }

  .sidebar:is(:hover, :focus-within) li span{
    /* opacity: 1; */
    /* font-size: var(--font-size); */
  }

}

</style>
