---
import NavItem from '@/components/NavItem'

interface Props {

}

const {} = Astro.props;
---
<div class="sidebar">
 
  <div class="container">
 
    <div class="item interactive" >
      <a href="/#projects">
          projects
      </a>
    </div>

    <div class="item interactive" >
      <a href="/#contact">
          contact
      </a>
    </div>

    <div class="item interactive" >
      <a href="/#blog">
          blog
      </a>
    </div>

  </div>
  <div class="containerWrapper"></div>

</div>

<style>

.sidebar {
  z-index: 2;
  background: var(--ox-bg);
  padding: 0 var(--padding);
  /* flex-grow: 2; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: calc(var(--padding) * 2);
  overflow: hidden;
}

.item {
  border-bottom: var(--border);
  border-color: var(--ox-pink);
}

.interactive {
  transition: var(--transition);
}

.interactive:is(:hover, :focus-within) {
  border-color: var(--ox-orange);
}

/* .borderPink:is(:hover, :focus-within) { */
/*   border-color: var(--ox-pink); */
/* } */
/**/
/* .borderYellow:is(:hover, :focus-within) { */
/*   border-color: var(--ox-yellow); */
/* } */

/* @container mobile (min-width: 0px) { */
@media screen and (max-width: 600px) {

  .sidebar {
    transition: var(--transition);
    border: var(--border);
    border-color: var(--ox-dim);
    border-radius: var(--border-radius);
    justify-content: flex-end;
    /* overflow: hidden; */
    padding: var(--padding);
    width: 5rem;
    height: 1rem;
  }

  .containerWrapper {
    transition: var(--transition);
    border-bottom: var(--border);
    border-color: var(--ox-pink);
    width: 100%;
  }
 
  .container {
    transition: var(--transition);
    flex-direction: column;
    gap: 0rem;
    justify-content: space-between;
    align-items: flex-end;

    /* height: 100%; */
    height: 0%;
    visibility: hidden;
    opacity: 0;
  }

  .sidebar:is(:hover, :focus-within) {
    height: 6rem;
    border-color: var(--ox-border);
    justify-content: flex-start;
  }

  .sidebar:is(:hover, :focus-within) .container {
    visibility: visible;
    opacity: 1;
    height: 100%;
    gap: 0.8rem;
  }

  .sidebar:is(:hover, :focus-within) .containerWrapper {
    width: 0%;
  }

}

</style>
