---

---

<div class="pill">
  <slot />
</div>

<style>
  .pill {
    border: var(--border);
    border-radius: var(--padding-half);
    font-size: 0.6rem;
    padding: 0.2rem var(--padding-half);
  }
</style>
