---
import TocHeading from "@/components/TocHeading";
const { headings } = Astro.props;
---

<nav class="toc">
  <ul>
    {headings.map((heading) => <TocHeading heading={heading} />)}
  </ul>
</nav>
<style>
  .toc {
    /* padding-left: var(--padding); */
    border-left: var(--border);
    border-color: var(--ox-pink);
  }
</style>
