---
import Header from '@/components/Header';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
    <main>
      <Header/>
      <slot />
    </main>
	</body>
</html>

<style is:global>
	:root {
    --ox-bg: #24202c;
    --ox-fg: #f4cde9;
    --ox-selection: #5a4551;
    --ox-dim: #6f5a71;
    --ox-orange: #f99286;
    --ox-pink: #b6377d;
    --ox-magenta: #ad7fa8;
    --ox-muted: var(--ox-dim);
    --ox-border: var(--ox-dim);

    --border: solid 1px var(--ox-border);
    --border-width: 1px;
    --padding: 1rem;
    --padding-base: 1.5rem;
    --margin-section: calc(var(--padding) * 3);
    --margin-topmost: 2rem;
    --max-width: 720px;
    --cutoff-width: 600px;

    --font-size: 14px;
    --font-regular: 'IBMPlexMono';
    --font-bold: 'IBMPlexMonoBold';

		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}

  @media screen and (max-width: 600px) {
    :root {
      --padding-base: 1rem;
    }
  }

  @font-face {
    font-family: 'IBMPlexMono';
    src: url('/fonts/IBMPlexMono/IBMPlexMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
 
  @font-face {
    font-family: 'IBMPlexMonoBold';
    src: url('/fonts/IBMPlexMono/IBMPlexMono-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
 
  @font-face {
    font-family: 'IBMPlexMonoItalic';
    src: url('/fonts/IBMPlexMono/IBMPlexMono-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
 
	html {
		font-family: 
      var(--font-regular),
      SourceCode, 
      Meslo,
      system-ui, 
      monospace;
    color: var(--ox-fg);
		background: var(--ox-bg);
		font-size: var(--font-size);
	}

  body {
    padding: var(--padding-base);
		width: calc(100% - (var(--padding-base) * 2));
    margin: 0;
  }

  main {
		margin: auto;
		width: var(--max-width);
		max-width: 100%;
		line-height: 1.6;
	}

	code {
		font-family:
      var(--font-regular),
      SourceCode,
      Meslo,
			Menlo,
			Courier New,
			monospace;
	}

  hr {
    border-width: var(--border-width);
    border-color: var(--ox-border);
  }

  .box {
    border: var(--border);
    border-radius: 12px;
    padding: var(--padding);
  }
  
  .no-box {
    padding: 0 var(--padding);

  }
</style>
