---
import Header from '@/components/Header';
import Footer from '@/components/Footer';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
      <Header/>
    <main>
      <slot/>
    </main>
      <Footer/>
	</body>
</html>

<style is:global>
	:root {
    --ox-bg: #24202c;
    --ox-fg: #f4cde9;
    --ox-selection: #5a4551;
    --ox-dim: #6f5a71;
    --ox-orange: #f99286;
    --ox-pink: #b6377d;
    --ox-magenta: #ad7fa8;
    --ox-yellow: #ecebbe;
    --ox-muted: var(--ox-dim);
    --ox-border: var(--ox-dim);

    --border: solid var(--border-width) var(--ox-border);
    --border-width: 1px;
    --border-radius: 1rem;
    --border-radius-nav: calc(var(--border-radius) * 0.5);

    --padding: 1rem;
    --padding-base: 1.5rem;
    --margin-section: 6rem;
    --margin-header-top: 4rem;
    --margin-header-btm: 6rem;
    --max-width: 720px;

    --font-size: 14px;
    --font-regular: 'IBMPlexMonoRegular';
    --font-bold: 'IBMPlexMonoBold';

		--transition: 0.6s cubic-bezier(0.22, 1, 0.36, 1);

		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}

  @media screen and (max-width: 600px) {

    /* Media queries can't use CSS variables for width. */
    /* Get around this by creating a named container and referencing it with: */

    /* @container mobile (min-width: 0) {} */

    /* Source: https://stackoverflow.com/a/76976801 */

    body {
      container-type: inline-size;
      container-name: mobile;
    }

    :root {
      /* --padding: 0.8rem; */
      --padding-base: 0.6rem;
      --font-size: 14px;
      --border-width: 0.6px;
      --font-regular: 'IBMPlexMonoRegular'
    }

  }

  @font-face {
    font-family: 'IBMPlexMonoRegular';
    src: url('/fonts/IBMPlexMono/IBMPlexMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
 
  @font-face {
    font-family: 'IBMPlexMonoLight';
    src: url('/fonts/IBMPlexMono/IBMPlexMono-Text.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
 
  @font-face {
    font-family: 'IBMPlexMonoBold';
    src: url('/fonts/IBMPlexMono/IBMPlexMono-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
 
  @font-face {
    font-family: 'IBMPlexMonoItalic';
    src: url('/fonts/IBMPlexMono/IBMPlexMono-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
 
	html {
		background: var(--ox-bg);
	}

  body {
		font-family:
      var(--font-regular),
      system-ui,
      monospace;
		font-size: var(--font-size);
    color: var(--ox-fg);
    margin: 0 auto;
		max-width: var(--max-width);
  }

  main {
    padding: 0 var(--padding-base);
		margin: auto;
		width: calc(100% - (var(--padding-base) * 2));
		max-width: var(--max-width);
		line-height: 1.6;
	}

	code {
		font-family:
      var(--font-regular),
      SourceCode,
      Meslo,
			Menlo,
			Courier New,
			monospace;
	}

  a {
    color: var(--ox-fg);
    text-decoration: none;
  }

  *:not(li) > ul  {
    padding-left: 0;
  }

  ul {
    list-style: none;
  }

  li {
    margin: 0.6rem 0;
  }

  ul li::before {
    content: ">";
    color: var(--ox-pink);
    /* font-weight: bold; */
    width: 1em; 
    font-size: 1em;
    display: inline-block; 
    /* Also needed for space (tweak if needed) */
    /* margin-left: -1em;  */
  }

  hr {
    /* border-style: solid; */
    /* border-width: var(--border-width); */
    /* border-color: var(--ox-border); */
  }

  .box {
    border: var(--border);
    border-radius: var(--border-radius);
    padding: var(--padding);
  }
  
  .no-box {
    padding-left: var(--padding);

  }
</style>
