<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OX</title>
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <div class="scroll">
        <div class="frontPage">
            <div class="title">
                <p>
                    faadhi
                </p>
            </div>
            <div class="subtitles">
                <p>
                    I make 
                    <a href="https://soundcloud.com/faadhif/sets/tactile">
                        noise</a>, build 
                    <a href="https://github.com/oxgr">
                        tools</a>, and cook 
                    <a href="https://instagram.com/faadhi">
                        spicy</a>!
                </p>

                <!-- <a href="https://soundcloud.com/faadhif/sets/tactile">
                    <p class="sub">
                        makes noise!
                    </p>
                </a>
                <a href="./tools.html">
                    <p class="sub">
                        builds tools!
                    </p>
                </a>
                <a href="https://instagram.com/faadhi">
                    <p class="sub">
                        cooks spicy!
                    </p>
                </a> -->


            </div>
        </div>
        <div class="content">
{{ content }}
        </div>
    </div>
</body>

</html>