---
interface Props {
  title: string,
}

const { id, title, firstSection } = Astro.props;
---

<section id={id}>
  { !firstSection && <div class="space"></div> }
  { title !== "" && <h2 class="no-box">{title}</h2> }
  <slot/>
</section>

<style>
  section {
    /* margin-bottom: var(--margin-section); */
    /* margin-top: var(--margin-section); */
  }
  .space {
    height: var(--margin-section);
  }
  h2 {
    color: var(--ox-orange);
    margin: 0;
    padding-bottom: 0.5rem;
  }
</style>
