---
interface Props {
  title: string,
}

const { title } = Astro.props;
---

<section>
{ title !== "" && <h2 class="no-box">{title}</h2>}
<!-- <h2 class="no-box">{title}</h2> -->
  <slot/>
</section>

<style>
  section {
    margin-bottom: var(--margin-section);
    /* border: solid 2px red; */
  }
  h2 {
    color: var(--ox-orange);
    margin: 0;
    padding-bottom: 0.5rem;
  }
</style>
